{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}
{% include "partials/_navbar.html" %}
<main>
  <h1>ETracker</h1>
  <h3>Hello, {{user.username}}!</h3>
  <section>
    <header>
      My tickets
    </header>
    <div>
      {% for ticket in tickets %}
      <p>
        {{ticket.pk}} - {{ticket.get_status_display}}
        {{ticket.get_priority_display}} {{ticket.assignee.username}}
        {{ticket.details}}
      </p>
      {% endfor %}
    </div>
  </section>
</main>

{% endblock %}
