{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}
{% include "partials/_navbar.html" %}
<main>
  <header>
    <h2>ETracker - Home</h2>
  </header>
  <section>
    <header>
      <h3>My tickets ({{my_tickets.count}})</h3>
    </header>
    {% if my_tickets %}
    <table>
      <thead>
        <tr>
          <th>No.</th>
          <th>Priority</th>
          <th>Status</th>
          <th>Description</th>
          <th>Assignee</th>
        </tr>
      </thead>
      <tbody>
        {% for ticket in my_tickets %}
        <tr class="accordion">
          <td>{{ticket.pk}}</td>
          <td>{{ticket.get_priority_display}}</td>
          <td>{{ticket.get_status_display}}</td>
          <td>{{ticket}}</td>
          <td>{{ticket.assignee.username|default:"-"}}</td>
        </tr>
        <tr>
          <td colspan="5">
          {% include "partials/_details.html" %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>No active tickets.</p>
    {% endif %}
  </section>
  <section>
    <header>
      <h3>Assigned to me ({{assigned_tickets.count}})</h3>
    </header>
    {% if assigned_tickets %}
    <table>
      <thead>
        <tr>
          <th>No.</th>
          <th>Priority</th>
          <th>Status</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        {% for ticket in assigned_tickets %}
        <tr class="accordion">
          <td>{{ticket.pk}}</td>
          <td>{{ticket.get_priority_display}}</td>
          <td>{{ticket.get_status_display}}</td>
          <td>{{ticket}}</td>
        </tr>
        <tr>
          <td colspan="5">
          {% include "partials/_details.html" %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>No active tickets.</p>
    {% endif %}
  </section>
  <section>
    <header>
      <h3>New tickets ({{new_tickets.count}})</h3>
    </header>
    {% if new_tickets %}
    <table>
      <thead>
        <tr>
          <th>No.</th>
          <th>Priority</th>
          <th>Description</th>
          <th>Assignee</th>
        </tr>
      </thead>
      <tbody>
        {% for ticket in new_tickets %}
        <tr class="accordion">
          <td>{{ticket.pk}}</td>
          <td>{{ticket.get_priority_display}}</td>
          <td>{{ticket}}</td>
          <td>{{ticket.assignee.username|default:"-"}}</td>
        </tr>
        <tr>
          <td colspan="5">
          {% include "partials/_details.html" %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>No new ticket has been added.</p>
    {% endif %}
  </section>
  <section>
    <header>
      <h3>Unassigned ({{unassigned.count}})</h3>
    </header>
    {% if unassigned %}
    <table>
      <thead>
        <tr>
          <th>No.</th>
          <th>Priority</th>
          <th>Status</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        {% for ticket in unassigned %}
        <tr class="accordion">
          <td>{{ticket.pk}}</td>
          <td>{{ticket.get_priority_display}}</td>
          <td>{{ticket.get_status_display}}</td>
          <td>{{ticket}}</td>
        </tr>
        <tr>
          <td colspan="5">
          {% include "partials/_details.html" %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>No unassigned tickets. Yay!</p>
    {% endif %}
  </section>
</main>
{% endblock %}
