{% extends "base.html" %}
{% block title %}New Ticket{% endblock %}
{% block content%}
{% include "partials/_navbar.html" %}
<main>
  <header>
    <h1>ETracker - New Ticket</h1>
  </header>
  <section class="new-ticket">
    <form method="POST">
      {% csrf_token %}
      {{form.as_p}}
      <p class="buttons">
        <button type="submit">Save</button>
        <button type="reset" class="del-link">Clear fields</button>
      </p>
    </form>
  </section>
</main>
<div id="back-to-top"><i class="fas fa-angle-up"></i></div>
{% endblock %}
