{% extends "base.html" %}
{% block title %}Tickets{% endblock %}
{% block content%}
{% include "partials/_navbar.html" %}
<main>
  <header>
    <h1>ETracker - Tickets</h1>
  </header>
  {% with section="ticket" %}
  <section>
    <header>
      <h3>All tickets ({{all_tickets.count}})</h3>
      <input type="text" id="search-bar" placeholder="🔍 Search...">
    </header>
    {% if all_tickets %}
    <div class="row head main">
      <div class="cell-1">No.</div>
      <div class="cell-2">Priority</div>
      <div class="cell-3">Status</div>
      <div class="cell-4">Description</div>
      <div class="cell-5">Assignee</div>
    </div>
    {% for ticket in all_tickets %}
    <div class="row head hidden">
      <div class="cell-1">No.</div>
      <div class="cell-2">Priority</div>
      <div class="cell-3">Status</div>
      <div class="cell-4">Description</div>
      <div class="cell-5">Assignee</div>
    </div>
    <div class="row accordion">
      <div class="cell-1">{{ticket.pk}}</div>
      <div class="cell-2">{{ticket.get_priority_display}}</div>
      <div class="cell-3">{{ticket.get_status_display}}</div>
      <div class="cell-4">{{ticket}}</div>
      <div class="cell-5">{{ticket.assignee.username|default:"-"}}</div>
    </div>
    <div class="container-1">
      <div class="container-2">
        {% include "partials/_details.html" %}
      </div>
    </div>
    {% endfor %}
    {% else %}
    <p>There are no tickets added.</p>
    {% endif %}
  </section>
  {% endwith %}
</main>
<div id="back-to-top"><i class="fas fa-angle-up"></i></div>
{% endblock %}