{% extends "base.html" %} {% block title %}Tickets{% endblock %} {% block content%}
{% include "partials/_navbar.html" %}
<main>
  <header>
    <h2>ETracker - Tickets</h2>
  </header>
  <section>
    <header>
      <h3>All tickets ({{all_tickets.count}})</h3>
    </header>
    {% if all_tickets %}
    <table>
      <thead>
        <tr>
          <th>No.</th>
          <th>Priority</th>
          <th>Status</th>
          <th>Description</th>
          <th>Assignee</th>
        </tr>
      </thead>
      <tbody>
        {% for ticket in all_tickets %}
        <tr class="accordion">
          <td>{{ticket.pk}}</td>
          <td>{{ticket.get_priority_display}}</td>
          <td>{{ticket.get_status_display}}</td>
          <td>{{ticket}}</td>
          <td>{{ticket.assignee.username|default:"-"}}</td>
        </tr>
        <tr>
          <td colspan="5">
          {% include "partials/_details.html" %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>There are no tickets added.</p>
    {% endif %}
  </section>
</main>
{% endblock %}