@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Open+Sans&display=swap');

:root {
  /* Colours for light theme */
  --light-bg: #F2EEDA;
  --light-section-bg: #F4F0DC;
  --light-shape-bg: #91b9f2;
  --light-nav-bg: #ABC9F4;
  --light-confirm-bg: rgba(242, 238, 218, 0.5);

  --light-font: #34515E;
  --light-faded: #7F8D93;
  --light-del: #CC0000;

  --light-shadow: #cfccbb;
  --light-button-shadow: 5px 5px 10px #cfccbb, -5px -5px 10px #fffffd;
  --light-button-bg: linear-gradient(145deg, #dcd8c6, #ffffeb);
  --light-shadow-inset: inset 5px 5px 10px #cfccbb, inset -5px -5px 10px #fffffd;

  --light-switch-border: 1px solid #c7ebff;
  --light-switch-border-2: 1px solid #fffffd;
  --light-switch-shadow: 4px 4px 8px #93add2, -4px -4px 8px #c7ebff, inset 4px 4px 8px #93add2, inset -4px -4px 8px #c7ebff;
  --light-switch-shadow-2: 4px 4px 8px #cfccbb, -4px -4px 8px #fffffd, inset 4px 4px 8px #cfccbb, inset -4px -4px 8px #fffffd;
  --light-switch-button-bg: linear-gradient(145deg, #b9daff, #9cb8de);
  --light-switch-button-bg-2: linear-gradient(145deg, #ffffeb, #dcd8c6);
  --light-switch-button-shadow: 3px 3px 6px #93add2, -3px -3px 6px #c7ebff;
  --light-switch-button-shadow-2: 3px 3px 6px #cfccbb, -3px -3px 6px #fffffd;
  
  --light-hover-effect: brightness(0.93);
  --light-nav-hover-effect: brightness(1.13);

  /* Colours for dark theme */
  --dark-bg: #3F3E39;
  --dark-section-bg: #42413B;
  --dark-shape-bg: #3F263B;
  --dark-nav-bg: #422E3E;
  --dark-confirm-bg: rgba(63, 62, 57, 0.6);

  --dark-font: #D9DEE0;
  --dark-faded: #A5A9AA;
  --dark-del: #ff2323;

  --dark-shadow: #383732;
  --dark-button-shadow: 5px 5px 10px #383732, -5px -5px 10px #4c4b44;
  --dark-button-bg: linear-gradient(145deg, #3b3b35, #47463f);
  --dark-shadow-inset: inset 5px 5px 10px #383732, inset -5px -5px 10px #4c4b44;

  --dark-switch-border: 1px solid #4c3547;
  --dark-switch-border-2: 1px solid #4c4b44;
  --dark-switch-shadow: 4px 4px 8px #382735, -4px -4px 8px #4c3547, inset 4px 4px 8px #382735, inset -4px -4px 8px #4c3547;
  --dark-switch-shadow-2: 4px 4px 8px #383732, -4px -4px 8px #4c4b44, inset 4px 4px 8px #383732, inset -4px -4px 8px #4c4b44;
  --dark-switch-button-bg: linear-gradient(145deg, #473142, #3b2938);
  --dark-switch-button-bg-2: linear-gradient(145deg, #47463f, #3b3b35);
  --dark-switch-button-shadow: 3px 3px 6px #382735, -3px -3px 6px #4c3547;
  --dark-switch-button-shadow-2: 3px 3px 6px #383732, -3px -3px 6px #4c4b44;

  --dark-hover-effect: brightness(1.17);
  --dark-nav-hover-effect: brightness(1.17);

  /* For general use */
  --transition-time: 0.25s ease-in-out;
  --animation-time: 0.3s ease-out forwards;
}

.light {
  --bg-colour: var(--light-bg);
  --section-bg-colour: var(--light-section-bg);
  --shape-bg-colour: var(--light-shape-bg);
  --nav-bg-colour: var(--light-nav-bg);
  --confirm-bg: var(--light-confirm-bg);
  --font-colour:  var(--light-font);
  --faded-colour: var(--light-faded);
  --del-colour: var(--light-del);
  --shadow-colour: var(--light-shadow);
  --button-shadow: var(--light-button-shadow);
  --button-bg: var(--light-button-bg);
  --shadow-inset: var(--light-shadow-inset);
  --switch-border: var(--light-switch-border);
  --switch-shadow: var(--light-switch-shadow);
  --switch-button-bg: var(--light-switch-button-bg);
  --switch-button-shadow: var(--light-switch-button-shadow);
  --setting-switch-border: var(--light-switch-border-2);
  --settings-switch-shadow: var(--light-switch-shadow-2);
  --settings-switch-button-bg: var(--light-switch-button-bg-2);
  --settings-switch-button-shadow: var(--light-switch-button-shadow-2);
  --hover-effect: var(--light-hover-effect);
  --nav-hover-effect: var(--light-nav-hover-effect);
  --message-colour: #8CC66E;
  --panel-border: 3px solid var(--font-colour);
  --big-shadow: 20px 20px 40px var(--shadow-colour);
  --small-shadow: 10px 10px 20px var(--shadow-colour);
}

.dark {
  --bg-colour: var(--dark-bg);
  --section-bg-colour: var(--dark-section-bg);
  --shape-bg-colour: var(--dark-shape-bg);
  --nav-bg-colour: var(--dark-nav-bg);
  --confirm-bg: var(--dark-confirm-bg);
  --font-colour:  var(--dark-font);
  --faded-colour: var(--dark-faded);
  --del-colour: var(--dark-del);
  --shadow-colour: var(--dark-shadow);
  --button-shadow: var(--dark-button-shadow);
  --button-bg: var(--dark-button-bg);
  --shadow-inset: var(--dark-shadow-inset);
  --switch-border: var(--dark-switch-border);
  --switch-shadow: var(--dark-switch-shadow);
  --switch-button-bg: var(--dark-switch-button-bg);
  --switch-button-shadow: var(--dark-switch-button-shadow);
  --setting-switch-border: var(--dark-switch-border-2);
  --settings-switch-shadow: var(--dark-switch-shadow-2);
  --settings-switch-button-bg: var(--dark-switch-button-bg-2);
  --settings-switch-button-shadow: var(--dark-switch-button-shadow-2);
  --hover-effect: var(--dark-hover-effect);
  --nav-hover-effect: var(--dark-nav-hover-effect);
  --message-colour: #8CC66E;
  --panel-border: 3px solid var(--font-colour);
  --big-shadow: 20px 20px 40px var(--shadow-colour);
  --small-shadow: 10px 10px 20px var(--shadow-colour);
}

* {
  background: var(--bg-colour);
  color: var(--font-colour);
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background: var(--shadow-colour);
  border-radius: 25px;
}
::-webkit-scrollbar-corner {
  background: var(--shadow-colour);
}
::-webkit-scrollbar-thumb {
  background: var(--faded-colour);
  border-radius: 25px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--font-colour);
}

h1, h2 {
  font-family: 'Open Sans', sans-serif;
  background: transparent;
}
a {
  text-decoration: none;
}
ul {
  list-style-position: inside;
}
label {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
input, textarea, select, .container-1 {
  border: none;
  padding: 0.7rem 1.2rem;
  border-radius: 25px;
  -webkit-box-shadow: var(--shadow-inset);
          box-shadow: var(--shadow-inset);
  font-size: inherit;
  outline: none;
}
textarea {
  width: 100%;
  height: 5rem;
  resize: none;
}
:focus {
  outline: none;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active, input:-internal-autofill-selected, input:-internal-autofill-selected:hover, input:-internal-autofill-selected:focus, input:-internal-autofill-selected:active, 
textarea:-webkit-autofill, textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus, textarea:-webkit-autofill:active,  
select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus, select:-webkit-autofill:active {
  transition: color 9999s ease-out, background-color 9999s ease-out !important;
  transition-delay: 9999s !important;
  -webkit-transition: color 9999s ease-out, background-color 9999s ease-out !important;
  -webkit-transition-delay: 9999s !important;
}

button, .details-button {
  padding: 0.5rem 2rem;
  border-radius: 25px;
  border: none;
  -webkit-box-shadow: var(--button-shadow);
          box-shadow: var(--button-shadow);
  font-weight: bold;
  font-size: inherit;
  text-align: center;
  cursor: pointer;
  display: inline-block;
}
.details-button {
  padding: 0.3rem 1.2rem;
  margin: 0.3rem;
}
button:hover, .details-button:hover {
  background: var(--button-bg);
}
button:active, .details-button:active {
  -webkit-box-shadow: var(--shadow-inset);
          box-shadow: var(--shadow-inset);
}

.shape {
  position: fixed;
  background: -o-linear-gradient(325deg, transparent, var(--shape-bg-colour));
  background: linear-gradient(125deg, transparent, var(--shape-bg-colour));
  -webkit-animation: right-in var(--animation-time);
          animation: right-in var(--animation-time);
  opacity: 0;
  top: 0;
  right: 0;
  width: 25%;
  height: 100%;
  -webkit-clip-path: polygon(50% 0, 100% 0%, 100% 100%, 0 100%);
          clip-path: polygon(50% 0, 100% 0%, 100% 100%, 0 100%);
}

.cookie-banner {
  display: none;
  position: fixed;
  z-index: 99;
  bottom: 0;
  right: 0;
  width: 33%;
  opacity: 1;
  -webkit-animation: unset;
          animation: unset;
}
.fa-external-link-alt {
  font-size: 0.8rem;
}

main {
  margin-left: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem 2.5rem 3rem;
}

main.login {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: unset;
  padding: 2rem 1rem 3rem;
}

section#loginpanel {
  text-align: center;
  padding: 3rem 2rem;
  margin: unset;
  border-radius: 125px;
  -webkit-box-shadow: var(--big-shadow);
          box-shadow: var(--big-shadow);
  border: var(--panel-border);
  -webkit-animation: down-in var(--animation-time);
          animation: down-in var(--animation-time);
  opacity: 0;
}
#loginpanel > * {
  background: transparent;
}
#loginpanel .fa-compass {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}
#loginpanel .fa-compass::before{
  -webkit-animation: rainbow 1.5s linear 2 alternate backwards;
          animation: rainbow 1.5s linear 2 alternate backwards;
}
#loginpanel h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}
#loginpanel p {
  margin-top: 2rem;
  background: transparent;
}
.line {
  border-top: 3px groove;
  width: 70%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
header + p {
  margin: 0.5rem;
}

main > header {
  background: transparent;
  -webkit-animation: down-in var(--animation-time);
          animation: down-in var(--animation-time);
  opacity: 0;
}
.fa-compass {
  font-size: 2rem;
  background: transparent;
}

section > header {
  border-bottom: 2px solid;
  margin-bottom: 0.2rem;
  padding-bottom: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.fa-arrows-alt {
  display: none;
  cursor: pointer;
}
.fa-arrows-alt-v, .fa-arrows-alt {
  margin-right: 0.5rem;
  font-size: 1.2rem;
}

section {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 48%;
          flex: 1 1 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1.3rem;
  margin: 0.8rem;
  border-radius: 25px;
  border: var(--panel-border);
  -webkit-box-shadow: var(--small-shadow);
          box-shadow: var(--small-shadow);
  -webkit-animation: appear var(--animation-time);
          animation: appear var(--animation-time);
  opacity: 0;
}
section, section * {
  background: var(--section-bg-colour);
}
.drop-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 48%;
          flex: 1 1 48%;
  background: transparent;
  display: none;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 25px;
  margin: 0.1rem;
}
.row > * {
  padding: 0.3rem;
  background: transparent;
}

.row.head, .details label, .settings label {
  font-weight: bold;
}
.row.hidden {
  display: none;
}
.accordion {
  cursor: pointer;
  -webkit-transition: -webkit-filter var(--transition-time);
  transition: -webkit-filter var(--transition-time);
  -o-transition: filter var(--transition-time);
  transition: filter var(--transition-time);
  transition: filter var(--transition-time), -webkit-filter var(--transition-time);
}
.active,
.accordion:hover {
  -webkit-filter: var(--hover-effect);
          filter: var(--hover-effect);
}

.cell-1 {
  -ms-flex-preferred-size: 8%;
      flex-basis: 8%;
}
.cell-2 {
  -ms-flex-preferred-size: 17%;
      flex-basis: 17%;
}
.cell-3 {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}
.cell-4 {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
}
.cell-5 {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.container-1, .container-2 {
  display: none;
  width: 100%;
}
.container-1 {
  padding: 1rem;
}
.del-button {
  text-align: center;
}

.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0.5rem;
}
.details > *, .container-2 > * {
  margin-top: 0.5rem;
}

#ticket-details .details > * {
  margin: 0 0 1rem;
}
.wide-line {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 0.5rem 0;
}
.wide-line.comments {
  padding: 0.5rem;
}
.wide-line.del-button {
  margin: unset;
  text-align: center;
}

.wide:first-child, .comments > p.wide:first-child {
  margin-top: unset;
}
.wide {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

label.watchers {
  margin-right: unset;
}
.none {
  margin-left: 0.3rem;
}
.list::before {
  content: "●";
  position: relative;
  bottom: 0.05rem;
  margin: 0 0.5rem 0 0.35rem;
  font-size: 0.9rem;
}

.commenter {
  font-style: italic;
  display: contents;
}

iframe {
  width: 100%;
  border: none;
  display: none;
}
.edit-iframe {
  height: 22rem;
}
.comment-iframe {
  height: 9rem;
  margin-top: 0.8rem;
}
.password-iframe {
  height: 23rem;
}

#search-bar {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.fa-search {
  font-size: 1.3rem;
  color: var(--faded-colour);
}
#search-bar input {
  width: calc(100% - 1.7rem);
}

main.edit {
  margin-left: unset;
  padding: unset;
  height: 100%;
}
main.edit, main.edit * {
  background: var(--section-bg-colour);
}

.dropdowns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form .buttons, .confirm-box .buttons, .cookie-banner .buttons {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 1rem;
}
.edit-form .buttons, .cookie-banner .buttons, .settings .details-button {
  margin-top: 0.5rem;
}
.confirm-box .buttons, .cookie-banner .buttons {
  margin-bottom: 0.5rem;
}
.comment-form {
  width: 90%;
}

.del-link {
  color: var(--faded-colour);
  -webkit-transition: color var(--transition-time);
  -o-transition: color var(--transition-time);
  transition: color var(--transition-time);
  margin-left: 0.5rem;
  cursor: pointer;
}
.del-link:hover {
  color: var(--del-colour);
  font-weight: bolder;
}

section.new-ticket, .settings {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 1.5rem 2rem;
}
form p, form ul, .messages {
  margin: 1rem 0.5rem 0rem;
}

label[for="id_details"] {
  vertical-align: top;
}
#id_details {
  height: 10rem;
}
#id_description {
  width: 100%;
}
.new-ticket .helptext {
  display: none;
}

section.settings {
  max-width: 38rem;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
}
.settings input, .settings > * {
  width: 100%;
}
.settings p, div.switch, .cookies {
  margin: 2rem 0.5rem 0rem;
}
.settings > p:first-of-type, .settings .container-1, .comments > p.wide {
  margin-top: 1rem;
}

.messages li {
  list-style: none;
  text-align: center;
  font-weight: bold;
  font-size: large;
  color: var(--message-colour);
}
.errorlist li {
  list-style: none;
  margin: 0 0.5rem 0;
  color: var(--del-colour);
}

.password-form .dropdowns {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.password-form p {
  text-align: center;
}

.cookies + .more {
  margin: 0.5rem 1rem 1rem;
  background: transparent;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.cookies .buttons {
  display: inline-block;
}
.accept i {
  background: transparent;
  color: var(--message-colour);
}
.decline i {
  background: transparent;
  color: var(--del-colour);
}

nav {
  position: fixed;
  z-index: 2;
  left: 0;
  overflow: auto;
  width: 5rem;
  height: 100vh;
  padding: 1rem 0;
  -webkit-animation: left-in var(--animation-time);
          animation: left-in var(--animation-time);
  opacity: 0;
  -webkit-box-shadow: 10px 10px 20px var(--shadow-colour), -10px -10px 20px var(--shadow-colour);
          box-shadow: 10px 10px 20px var(--shadow-colour), -10px -10px 20px var(--shadow-colour);
}
nav, nav * {
  background: var(--nav-bg-colour);
}
nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
nav li {
  width: 100%;
  text-align: center;
  padding: 0.5rem 0;
  -webkit-transition: -webkit-filter var(--transition-time);
  transition: -webkit-filter var(--transition-time);
  -o-transition: filter var(--transition-time);
  transition: filter var(--transition-time);
  transition: filter var(--transition-time), -webkit-filter var(--transition-time);
}
nav li.logout {
  margin-top: auto;
}
nav li.switch {
  margin-top: 0.5rem;
}
nav li:not(.switch):hover {
  -webkit-filter: var(--nav-hover-effect);
          filter: var(--nav-hover-effect);
}
nav i {
  font-size: 2rem;
}

.theme-switch {
  position: relative;
  height: 32px;
  width: 58px;
  margin: auto;
  background: var(--nav-bg-colour);
  -webkit-box-shadow: var(--switch-shadow);
          box-shadow: var(--switch-shadow);
  border: var(--switch-border);
  border-radius: 25px;
  cursor: pointer;
}
.theme-switch::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 6px;
  margin: auto;
  height: 20px;
  width: 20px;
  background: var(--switch-button-bg);
  -webkit-box-shadow: var(--switch-button-shadow);
          box-shadow: var(--switch-button-shadow);
  border-radius: 50%;
  -webkit-transition: left var(--transition-time);
  -o-transition: left var(--transition-time);
  transition: left var(--transition-time);
}
.theme-switch.dark-theme::before {
  left: 32px;
}
.theme-icons {
  margin-bottom: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.fa-sun {
  font-size: 1.5rem;
}
.fa-moon {
  font-size: 1.3rem;
}

div.switch {
  display: none;
}
div.switch .theme-icons {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
div.switch .theme-switch {
  margin: 0 0.5rem;
  background: var(--section-bg-colour);
  -webkit-box-shadow: var(--settings-switch-shadow);
          box-shadow: var(--settings-switch-shadow);
  border: var(--settings-switch-border);
}
div.switch .theme-switch::before{
  background: var(--settings-switch-button-bg);
  -webkit-box-shadow: var(--settings-switch-button-shadow);
          box-shadow: var(--settings-switch-button-shadow);
}

.comment-confirm-overlay, .ticket-confirm-overlay {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--confirm-bg);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.confirm-box {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  text-align: center;
  border: 3px solid var(--del-colour);
  -webkit-animation: up-in var(--animation-time);
          animation: up-in var(--animation-time);
}
.confirm-box > * {
  margin: 0.5rem 0;
}
.confirm-box i {
  font-size: 2rem;
}

footer {
  z-index: 1;
  padding-bottom: 1rem;
  margin: auto auto 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 0.9rem;
  text-align: center;
  -webkit-animation: appear var(--animation-time);
          animation: appear var(--animation-time);
  opacity: 0;
}
footer, footer * {
  background: transparent;
}

#contact {
  text-decoration: underline;
  cursor: pointer;
}
#contact-overlay, #positions-overlay {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--confirm-bg);
}
#contact-links {
  position: relative;
  margin-bottom: 5rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 3rem;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  opacity: 1;
  -webkit-animation: zoom-up var(--animation-time);
          animation: zoom-up var(--animation-time);
}
#contact-links a:first-of-type {
  margin-right: 3rem;
}
#contact-links a:last-of-type {
  margin: 0 1rem 0 3rem;
}
#contact-links a i {
  font-size: 3.5rem;
}
#contact-links #close {
  position: absolute;
  top: 10px;
  right: 14px;
  font-size: 1.5rem;
  cursor: pointer;
}

#positions {
  margin-left: 7.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  font-size: 1.1rem;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  -webkit-animation: zoom-in var(--animation-time);
          animation: zoom-in var(--animation-time);
  opacity: 1;
}
#positions > p {
  margin: 0.5rem 0;
}
#positions p:first-child {
  font-weight: bold;
  margin-bottom: 0.3rem;
}
#positions input {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

#back-to-top {
  display: none;
  position: fixed;
  bottom: 1rem;
  right: 0.5rem;
  text-align: center;
  opacity: 0.5;
  cursor: pointer;
}
#back-to-top i {
  font-size: 3rem;
}
#back-to-top, #back-to-top * {
  background: transparent;
}
#back-to-top:hover {
  opacity: 1;
  -webkit-transition: opacity var(--transition-time);
  -o-transition: opacity var(--transition-time);
  transition: opacity var(--transition-time);
}

main.login.cookie-policy {
  padding: 1rem 2.5rem 3rem;
  word-break: break-word;
}
main.login.cookie-policy > section {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}
.cookie-policy a, .more {
  text-decoration: underline;
}

.adBanner {
  background-color: transparent;
  height: 1px;
  width: 1px;
}

@media (pointer: fine) {
  .fa-arrows-alt-v {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  main.login {
    padding: 3rem 1rem;
  }
  section#loginpanel {
    padding: 4rem 3rem;
    font-size: 1.1rem;
  }
  section:not(#loginpanel), .drop-container {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  section#all-tickets, section#ticket-details {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
  main.login.cookie-policy {
    padding: 1rem 2.5rem 3rem;
  }
}

@media screen and (max-width: 640px) {
  h1 {
    font-size: 1.5rem;
    text-align: center;
  }
  .fa-compass {
    font-size: 1.5rem;
  }
  .cookie-banner {
    width: unset;
    bottom: 3rem;
  }
  main {
    margin-left: unset;
    padding: 0.8rem 0.5rem 3rem;
  }
  main > header {
    margin-bottom: 0.3rem;
  }
  main.login, main.login.cookie-policy {
    padding: 1rem 0.5rem 3rem;
  }
  main.login + footer {
    margin-bottom: unset;
  }
  section#loginpanel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    padding: 2rem 1rem;
    border-radius: 100px;
  }
  #loginpanel p {
    margin-top: 1.5rem;
  }
  section {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    padding: 1rem;
    margin: 0.3rem;
  }
  .drop-container {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  section:not(#ticket-details) > header {
    border: unset;
    padding-bottom: unset;
  }
  section#ticket-details > header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #ticket-details h3 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  div.wide {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .row > * {
    padding: 0.1rem 0.4rem;
  }
  .row.main {
    display: none;
  }
  .row.hidden {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0.5rem 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .accordion {
    -ms-flex-preferred-size: 55%;
        flex-basis: 55%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0.5rem 0;
    border: 2px solid var(--faded-colour);
  }
  .comment-confirmation {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 10%;
            flex: 1 1 10%;
    text-align: right;
  }
  section.new-ticket, .settings {
    padding: 1rem;
  }
  .settings p:first-of-type {
    margin-top: 1rem;
  }
  .cookies {
    margin-top: 1.5rem;
  }
  nav {
    bottom: 0;
    width: 100vw;
    height: 3rem;
    -webkit-animation: up-in var(--animation-time);
            animation: up-in var(--animation-time);
  }
  nav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 100%;
  }
  nav li.logout {
    margin-top: unset;
  }
  nav li.switch {
    display: none;
  }
  nav i {
    font-size: 1.5rem;
  }
  nav p {
    display: none;
  }
  div.switch {
    display: block;
  }
  .confirm-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  footer {
    margin: auto auto 3rem;
  }
  #contact-links {
    padding: 2rem;
    margin-bottom: 8rem;
  }
  #contact-links a i {
    font-size: 3rem;
  }
  #contact-links a:first-of-type {
    margin-right: 2rem;
  }
  #contact-links a:last-of-type {
    margin: 0 1rem 0 2rem;
  }
  #positions {
    margin-left: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  #back-to-top {
    bottom: 4rem;
  }
}

@media screen and (max-width: 350px) {
  .password-form .dropdowns input {
    width: 100%;
  }
  .comment-form {
    width: 100%;
  }
}

@-webkit-keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes down-in {
  from {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes down-in {
  from {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}
@-webkit-keyframes up-in {
  from {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes up-in {
  from {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}
@-webkit-keyframes left-in {
  from {
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes left-in {
  from {
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}
@-webkit-keyframes right-in {
  from {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes right-in {
  from {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}
@-webkit-keyframes zoom-in {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes zoom-in {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes zoom-up {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
    margin-bottom: 0;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    margin-bottom: 5rem;
  }
}
@keyframes zoom-up {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
    margin-bottom: 0;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    margin-bottom: 5rem;
  }
}

@-webkit-keyframes rainbow {
  from {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes rainbow {
  from {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}