<div class="wide">
  <h4>Details</h4>
  <a href="{% url 'tickets:edit' ticket_id=ticket.pk %}" target="edit_{{section}}_{{ticket.pk}}" class="details-button edit-link">Edit</a>
</div>
<div class="container-1">
  <iframe src="about:blank" name="edit_{{section}}_{{ticket.pk}}" class="edit-iframe"></iframe>
</div>
<p class="wide">{{ticket.details|linebreaksbr}}</p>
<p>Date added: {{ticket.date_added|date:"d/m/y"}}</p>
<p>Last updated: {{ticket.date_updated|date:"d/m/y"|default:"-"}}</p>
<p>Added by: {{ticket.added_by}}</p>

<div class="wide">
  <h4>Comments ({{ticket.comments.all.count}})</h4>
  <a href="{% url 'tickets:comment' ticket_id=ticket.pk %}" target="comment_on_{{section}}_{{ticket.pk}}" class="details-button edit-link">Add comment</a>
</div>
<div class="container-2">
  <iframe src="about:blank" name="comment_on_{{section}}_{{ticket.pk}}" class="comment-iframe"></iframe>
</div>
{% for comment in ticket.comments.all|dictsortreversed:"date" %}
<p class="wide">
  {{comment|linebreaksbr}} - {{comment.commenter}},
  {{comment.date|date:"d/m/y"}}
  {% if comment.commenter == request.user %}
  <a href="{% url 'tickets:delete_comment' comment_id=comment.pk %}" class="del-link">Delete comment</a>
  {% endif %}
</p>
{% endfor %}

{% if ticket.added_by == request.user %}
<a href="{% url 'tickets:delete_ticket' ticket_id=ticket.pk %}" onclick="confirm('Are you sure you want to delete the ticket and all of its comments?')" class="details-button del-link">Delete ticket</a>
{% endif %}