<nav>
  <ul>
    <li>
      <a href="{% url 'tickets:home' %}">
        <div><i class="fas fa-home"></i></div>
        <p>Home</p>
      </a>
    </li>
    <li>
      <a href="{% url 'tickets:new' %}">
        <div><i class="fas fa-plus"></i></div>
        <p>Add</p>
      </a>
    </li>
    <li>
      <a href="{% url 'tickets:tickets' %}">
        <div><i class="fas fa-clipboard-list"></i></div>
        <p>Tickets</p>
      </a>
    </li>
    <li>
      <a href="{% url 'tickets:account' %}">
        <div><i class="fas fa-wrench"></i></div>
        <p>Account</p>
      </a>
    </li>
    <li class="logout">
      <a href="{% url 'tickets:logout' %}">
        <div><i class="fas fa-sign-out-alt"></i></div>
        <p>Logout</p>
      </a>
    </li>
    <li class="switch">
      <div class="theme-icons">
        <i class="fas fa-sun"></i>
        <i class="fas fa-moon"></i>
      </div>
      <div class="theme-switch" title="Set light/dark theme"></div>
    </li>
  </ul>
</nav>
