{% extends "base.html" %}
{% block title %}Change Password{% endblock%}
{% block content %}
<main class="edit">
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li class="{{message.tags}}">{{message}}</li>
      {% endfor %}
    </ul>
  {% endif %}
  <form method="POST" class="changeform">
      {% csrf_token %}
      <div class="dropdowns">
        {{ change_form.as_p }}
      </div>
      <ul>
        <li>Must contain at least 8 characters.</li>
        <li>Can’t be entirely numeric.</li>
        <li>Can’t be a commonly used password.</li>
        <li>Can’t be too similar to your other personal information.</li>
      </ul>
      <p class="buttons">
        <button type="submit" class="details-button">Save</button>
        <button type="reset" class="del-link details-button">Cancel</button>
      </p>
  </form>
</main>
{% endblock %}