{% extends "base.html" %} {% block title %}An Issue Tracker Project{% endblock%}
{% block content %}
<div class="adminlogin">
  <a href="{% url 'admin:login' %}">Admin Login</a>
</div>
<div class="login">
  <h1>Welcome to ETracker!</h1>
  <h3>An issue tracker project by ET</h3>
  {% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
  {% endif %} {% if next %} {% if user.is_authenticated %}
  <p>
    Your account doesn't have access to this page. To proceed, please login with
    an account that has access.
  </p>
  {% else %}
  <p>Please log in to see this page.</p>
  {% endif %} {% endif %}

  <form method="POST" action="{% url 'tickets:login' %}">
    {% csrf_token %}
    <p>{{ form.username.label_tag }} {{ form.username }}</p>
    <p>{{ form.password.label_tag }} {{ form.password }}</p>

    <button type="submit"><i class="fas fa-sign-in-alt"></i> Log in</button>
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
</div>

{% endblock %}
