{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ETracker - {% block title %}{% endblock %}</title>
    <!-- <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    /> -->
    <script
      src="https://kit.fontawesome.com/93a0a9db14.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />
  </head>
  <body>
    {% block content %}{% endblock %}
    <footer>
      <p>Copyright &copy; {% now "Y" %}, Eszter Diana Toth</p>
    </footer>
    <script>
      if (window.location.href == "http://127.0.0.1:8000/" || window.location.href.includes("http://127.0.0.1:8000/?next=/") || window.location.href.includes("/edit/") || window.location.href.includes("/comment/")) {
        document.body.id = "login";
      } else {
        document.body.id = "user";
      }

      if (window.location.href == "http://127.0.0.1:8000/new/") {
        document.getElementById("id_description").placeholder = document.getElementsByClassName("helptext")[0].innerText;
      }

      var acc = document.getElementsByClassName("accordion");
      var i;
      for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var hidden = this.nextElementSibling;
          if (hidden.style.display === "table-row") {
            hidden.style.animation = "var(--disappearAnimation)";
            setTimeout(() => {
              hidden.style.display = "none";
            }, 250);
          } else {
            hidden.style.animation = "var(--appearAnimation)";
            hidden.style.display = "table-row";
          }
        });
      }

            // var edit_links = document.getElementsByClassName("edit_link");
      // var comment_links = document.getElementsByClassName("comment_link");
      // var edit_iframes = document.getElementsByClassName("edit_iframe");
      // var comment_iframes = document.getElementsByClassName("comment_iframe");
      
      // for (i = 0; i < edit_links.length; i++) {
      //   edit_links[i].addEventListener("open", function() {
      //     this.target = Date.now();
      //     this.nextElementSibling.name = this.target;
      //   });
      // }


    </script>
  </body>
</html>
