{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="An issue tracker project."/>
    <meta name="theme-color" content="#F2EEDA"/>
    <title>ETracker - {% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"/>
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/93a0a9db14.js" crossorigin="anonymous"></script>
    {% include "partials/_styles.html" %}
  </head>
  <body class="light">
    <section class="cookie-banner">
      <p>To provide the best experience, we would store your theme, layout and cookie preferences locally in your browser. You can change this setting anytime on your Account page.
        <a href="{% url 'tickets:cookies' %}" target="_blank" rel="noopener noreferrer" class="more" title="Cookie and Local Storage Policy">More details <i class="fas fa-external-link-alt"></i></a>
      </p>
      <div class="buttons">
        <span class="details-button accept">Accept</span>
        <span class="del-link details-button decline">Decline</span>
      </div>
    </section>
    {% block content %}{% endblock %}
    <footer>
      <p>Copyright &copy; {% now "Y" %}, Eszter Diana Toth | 
        <span id="contact">Contact</span>
      </p>
    </footer>
    <div id="contact-overlay">
      <section id="contact-links">
        <a href="mailto:esztit@gmail.com?Subject=ETracker" target="_blank" rel="noopener noreferrer" title="Send e-mail to esztit@gmail.com"><i class="fas fa-at"></i></a>
        <a href="https://www.linkedin.com/in/eszter-diana-toth-a06017188" target="_blank" rel="noopener noreferrer" title="LinkedIn"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/EsztiDi" target="_blank" rel="noopener noreferrer" title="GitHub"><i class="fab fa-github"></i></a>
        <i id="close" class="fas fa-times"></i>
      </section>
    </div>
    <div id="positions-overlay">
      <section id="positions">
        <p>Change order</p>
        <p><input type="radio" value="dc1" name="position" id="p1">
        <label for="p1">1</label></p>
        <p><input type="radio" value="dc2" name="position" id="p2">
        <label for="p2">2</label></p>
        <p><input type="radio" value="dc3" name="position" id="p3">
        <label for="p3">3</label></p>
        <p><input type="radio" value="dc4" name="position" id="p4">
        <label for="p4">4</label></p>
        <p><input type="radio" value="dc5" name="position" id="p5">
        <label for="p5">5</label></p>
      </section>
    </div>
    <div id="back-to-top" title="Back to top"><i class="fas fa-angle-up"></i></div>
    {% include "partials/_scripts.html" %}
  </body>
</html>
